beautifulsoup4==4.9.3
certifi==2023.5.7
charset-normalizer==2.0.12
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
prompt-toolkit==3.0.38
pyparsing==3.0.9
python-dateutil==2.8.2
questionary==1.10.0
requests==2.26.0
six==1.16.0
soupsieve==2.4.1
tqdm==4.62.0
urllib3==1.26.16
wcwidth==0.2.6
